<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mile High Climate Change</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="static/css/grayscale.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("a").on('click', function(event) {
        if (this.hash !== "") {
            event.preventDefault();
            var hash = this.hash;
            var location = $(hash).offset().top;
            $('html, body').animate({
                scrollTop: location
            }, 800, function() {
                window.location.hash = hash;
            });
        }
    });
});

$(document).ready(function() {
    var now = new Date();
    var year = now.getFullYear();
    var month = now.getMonth() + 1;
    var day = now.getDate();
    var date;
    if (month < 10) {
        month = "0" + month.toString();
    }
    if (day < 10) {
        day = "0" + day.toString();
    }
    date = year + "-" + month + "-" + day
    $('#date').val(date);
});

$(document).ready(function() {
    var myForm = document.getElementById('form');

    myForm.onsubmit = function() {
        var w = window.open('about:blank','Popup_Window','toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=400,height=300,left = 312,top = 234');
        this.target = 'Popup_Window';
    };
});


$(document).ready(function() {
    showBackToTop();
    $(window).scroll(showBackToTop);
    function showBackToTop() {
        if ($(window).scrollTop() > 300) {
            $('.backToTop').addClass('visible');
        }
        else {
            $('.backToTop').removeClass('visible');
        }
    }
    $('.backToTop').click(function() {
        $('html, body').animate({
            scrollTop: 0
        }, 800);
    });
});

</script>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <div class="backToTop">
        <div></div>
    </div>

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-left navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#predict">Predict</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 hero-text">
                        <br><br>
                        <h1 class="brand-heading">Mile High Climate Change</h1>
                        <p class="intro-text">Utilizing machine learning techniques to model and predict climate for Denver, CO.
                            </p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Problem and Methods</h2>
                <p>While climate change is a popular topic of discussion, public opinion is not often supported with accurate data. My goal for this project is to analyze the past 40 years of Denver climate data to see if there has been a statistically significant change in the climate and if so, to model and predict the future trend.</p>
                <p>Modelling the climate began with a simple A/B test to confirm the legitamacy of my hypothesis that climate (temperature specifically) has changed significantly over the past 40 years.</p>
                <p>I implemented a Gaussian Process Regressor model for this problem, which returns a distribution along with a prediction. This allows me to calculate a confidence interval along with my climate predictions. The model was trained on the past 20 years of climate data from the Denver International Airport for simplicity. I combined an Exponential Squared Kernel with a Sinusoidal as my covariance functions.</p>
                <p>I trained both a <a href="static/img/prediction_2007.png" target="_blank">noisy</a> and <a href="static/img/prediction_noise.png" target="_blank">smooth</a> model. The below predictions are based on the noisy model at this is better able to predict extremes and fluctuations within the seasonality.
            </div>
        </div>
    </section>

    <!-- Predict Section -->
    <section id="predict" class="content-section--tight text-center">
        <div class="predict-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2 predict-copy">
                    <h2>Climate Prediction</h2>
                    <p>Enter in a date in the format below to get a temperature forecast based on this model.</p>
                    <form action="/prediction" method='POST' name="prediction" id="form">
                        <div class="form-group">
                            <!-- <input type="text" id="Date" value="2017-06-14" class="form-control"><br><br>
                            <button type="submit" class="btn btn-default">Submit</button> -->
                            <input id="date" type="text" name="Date" placeholder="YYYY-MM-DD"><br><br>
                            <input type="submit" value="Submit" class="btn btn-default btn-primary btn-lg">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                <p>My name is Steve Harshman. I am a data scientist based out of Colorado, spending my time between Boulder and Denver. This project was completed as my capstone for the <a href="https://www.galvanize.com/denver-platte/data-science" target="_blank">Galvanize Data Science Immersive</a>. Feel free to contact me about relavant positions at your company or questions on my methods.</p>
                <p><a href="mailto:sharshman193@gmail.com">sharshman193@gmail.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://github.com/sjh226/ClimateCapstone" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/starshman/" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
                    </li>
                    <li>
                        <a href="static/img/harshman_resume.pdf" target="_blank" class="btn btn-default btn-lg"><span class="network-name">Resume</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <br><br><br>
        <p>Mile High Climate Change 2017</p>
    </section>

    <!-- Footer -->


    <!-- jQuery -->
    <script src="../static/vendor/jquery/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Theme JavaScript -->
    <script src="../static/js/grayscale.min.js"></script>

</body>

</html>
